There are many libraries available for Automated Exploratory Data Analysis (AutoEDA). Most popular ones are:
1. DataPrep
2. D-Tale
3. Pandas Profiling
4. AutoViz
5. Pandas Visual Analysis
6. Sweetviz

# Read Dataset

In [2]:
import seaborn as sns
df=sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Automated EDA

## DataPrep

Documentation: https://pypi.org/project/dataprep/

In [ ]:
# !pip install dataprep

In [ ]:
from dataprep.eda import create_report

In [ ]:
create_report(df)

## D-Tale

Documentation: https://pypi.org/project/dtale/

In [ ]:
# !pip install dtale

In [ ]:
import dtale

In [ ]:
dtale.show(df)

## Pandas Profiling

Documentation: https://pypi.org/project/pandas-profiling/

In [ ]:
# !pip install pandas-profiling

In [ ]:
from pandas_profiling import ProfileReport

In [ ]:
profile = ProfileReport(df, title='Pandas Profiling Report', explorative=True)
profile.to_widgets()

## AutoViz

Documentation: https://pypi.org/project/autoviz/

In [ ]:
# !pip install autoviz

In [ ]:
from autoviz.AutoViz_Class import AutoViz_Class

In [ ]:
AV = AutoViz_Class()
sep = ","
dft = AV.AutoViz(
    filename='',
    sep=",",
    depVar="survived",
    dfte=df,
    header=0,
    verbose=0,
    lowess=False,
    chart_format="svg",
    max_rows_analyzed=150000,
    max_cols_analyzed=30,
)

## Pandas Visual Analysis

Documentation: https://pypi.org/project/pandas-visual-analysis/

In [ ]:
# !pip install pandas-visual-analysis

In [ ]:
from pandas_visual_analysis import VisualAnalysis

In [ ]:
VisualAnalysis(df)

## Sweetviz

Documentation: https://pypi.org/project/sweetviz/

In [ ]:
# !pip install sweetviz

In [ ]:
import sweetviz

In [ ]:
my_report = sweetviz.analyze(df,target_feat='survived')
my_report1.show_html('Report.html')