Cross-Validation is a resampling technique that helps to make our model sure about its efficiency and accuracy on the unseen data.

In this tutorial, I'll talk about 3 common Cross-Validation techniques:Â¶
1. Holdout cross-validation (traditional train-test split)
2. k-fold cross-validation (variants - LOOCV, LpOCV)
3. Stratified k-fold cross-validation

There are many hybrid Cross-Validation techniques available as well. Kindly refer to References section.

# Read Dataset

In [7]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
df=pd.read_csv('cancer_dataset.csv')
df.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [8]:
X=df.iloc[:,2:-1]
y=df.iloc[:,1]

In [9]:
df.shape

(569, 33)

In [10]:
y.value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

# Cross-Validation

## Holdout cross-validation

* Only 1 time evaluation (1 iteration).
* The dataset is randomly split into training and validation data (based on split_size and random_state).
* Not suitable for an imbalanced dataset.

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=4)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)
result = model.score(X_test, y_test)
print(result)

0.8771929824561403

## k-fold cross-validation

* One of the most widely used technique.
* Not suitable for an imbalanced dataset.

ALGORITHM: 
```
* No. of total records in dataset = n
* No. of evaluations/iterations = k

In each iteration
  * No. of records in test set = n/k
  * No. of records in train set = n-(n/k)

* Take average of all test accuracies
```

EXAMPLE:
```
Let k = 5 and n = 1000

In each of 10 iterations
  * No. of records in test set = n/k = 1000/5 = 200
  * No. of records in train set = n-(n/k) = 1000-200 = 800

Iteration 1 - first 200 test, last 800 train
Iteration 2 - 200 train , 200 test, 600 train
Iteration 3 - 400 train, 200 test, 400 train
Iteration 4 - 600 train, 200 test, 200 train
Iteration 5 - first 800 train, last 200 test
```

In [12]:
from sklearn.model_selection import KFold

model=DecisionTreeClassifier()
kfold_validation=KFold(10)
results=cross_val_score(model,X,y,cv=kfold_validation)
print(results)
print(np.mean(results))

[0.94736842 0.9122807  0.89473684 0.94736842 0.92982456 0.98245614
 0.9122807  0.94736842 0.9122807  0.92857143]
0.9314536340852129

## Leave-one-out cross-validation (LOOCV)

* Variant of k-fold cross-validation where k=n/1.
* Not recommended to use.
* High computation time required.

ALGORITHM: 
```
* No. of total records in dataset = n
* No. of evaluations/iterations = k = n

In each iteration
  * No. of records in test set = n/n = 1
  * No. of records in train set = n-(n/n) = n-1

* Take average of all test accuracies
```

EXAMPLE:
```
Let k = n = 1000

Iteration 1 - 1 test, 999 train
Iteration 2 - 1 train, 1 test, 998 train
Iteration 3 - 2 train, 1 test, 997 train
.
.
.
Iteration 999 - 998 train, 1 test, 1 train
Iteration 1000 - 999 train, 1 test
```

In [13]:
from sklearn.model_selection import LeaveOneOut

model=DecisionTreeClassifier()
leave_validation=LeaveOneOut()
results=cross_val_score(model,X,y,cv=leave_validation)
print(results)
print(np.mean(results))

[1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 0. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1.
 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 1. 1. 1.
 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.]
0.9261862917398945

## Leave p-out cross-validation (LpOCV)

* Variant of k-fold cross-validation
* Testing on all distinct samples of size p, while the remaining n - p samples form the training set in each iteration.
* LpOCV is NOT equivalent to k=n/p which creates non-overlapping test sets.
* Not recommended to use.
* High computation time required.

In [15]:
from sklearn.model_selection import LeavePOut

leave_validation=LeavePOut(2)
results=cross_val_score(model,X,y,cv=leave_validation)
#print(results)
#print(np.mean(results))

## Stratified k-fold cross-validation

* One of the most widely used technique.
* Slight change to the K Fold cross validation technique.
* Ensures that validation data has an equal number of instances of target class label.
* Suitable for an imbalanced dataset.

In [16]:
from sklearn.model_selection import StratifiedKFold

skfold=StratifiedKFold(n_splits=10)
model=DecisionTreeClassifier()
results=cross_val_score(model,X,y,cv=skfold)
print(results)
print(np.mean(results))

[0.87719298 0.85964912 0.92982456 0.85964912 0.92982456 0.89473684
 0.9122807  0.94736842 0.92982456 0.98214286]
0.912249373433584

# References

* https://scikit-learn.org/stable/modules/cross_validation.html#
* https://towardsdatascience.com/understanding-8-types-of-cross-validation-80c935a4976d
* https://www.upgrad.com/blog/cross-validation-in-machine-learning/