# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Reading Dataset

In [2]:
df=pd.read_csv('C:/Users/Apar/Desktop/trainprevloans.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18183 entries, 0 to 18182
Data columns (total 13 columns):
Unnamed: 0         18183 non-null int64
customerid         18183 non-null object
systemloanid       18183 non-null int64
loannumber         18183 non-null int64
approveddate       18183 non-null object
creationdate       18183 non-null object
loanamount         18178 non-null float64
totaldue           18183 non-null float64
termdays           18183 non-null int64
closeddate         18183 non-null object
referredby         1026 non-null object
firstduedate       18183 non-null object
firstrepaiddate    18183 non-null object
dtypes: float64(2), int64(4), object(7)
memory usage: 1.8+ MB

In [3]:
df=df[['loannumber', 'totaldue','termdays']]
df.head()

   loannumber  totaldue  termdays
0           2   13000.0        30
1           9   13000.0        30
2           8   23800.0        30
3           5   11500.0        15
4           2   11500.0        15

In [4]:
df.shape

(18183, 3)

# Engineering Polynomial (Cross) Features

* Polynomial features create interactions among features.
* They help to capture relationships among independent variables and can help decrease the bias of a machine learning model, as long as it’s not contributing to massive overfitting.
* We can create polynomial/cross features manually by simply adding, multiplying, or dividing features with each other.
* In this tutorial, we’re going to use the Polynomial Feature module present in the sklearn library.

In [5]:
# Use Sklearn Polynomial Features
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures()
crossed_feats = poly.fit_transform(df.values)

# Convert to Pandas DataFrame and merge to original dataset
crossed_feats = pd.DataFrame(crossed_feats)
df = pd.concat([df, crossed_feats], axis=1)

In [6]:
df.head()

,loannumber,totaldue,termdays,0,1,2,3,4,5,6,7,8,9
0,2,13000.0,30,1.0,2.0,13000.0,30.0,4.0,26000.0,60.0,169000000.0,390000.0,900.0
1,9,13000.0,30,1.0,9.0,13000.0,30.0,81.0,117000.0,270.0,169000000.0,390000.0,900.0
2,8,23800.0,30,1.0,8.0,23800.0,30.0,64.0,190400.0,240.0,566440000.0,714000.0,900.0
3,5,11500.0,15,1.0,5.0,11500.0,15.0,25.0,57500.0,75.0,132250000.0,172500.0,225.0
4,2,11500.0,15,1.0,2.0,11500.0,15.0,4.0,23000.0,30.0,132250000.0,172500.0,225.0

In [7]:
df.shape

(18183, 13)