![maxresdefault](https://user-images.githubusercontent.com/54896849/65680586-df60c500-e074-11e9-80f8-92b3a68d596e.jpg)

![1 - Copy](https://user-images.githubusercontent.com/54896849/65710094-e9ec8000-e0af-11e9-86ec-ce14baae3798.PNG)

![2 - Copy](https://user-images.githubusercontent.com/54896849/65710175-16a09780-e0b0-11e9-82ac-958326bd8d7f.PNG)

# Importing Libraries &#x1F43C;

In [1]:
import numpy as np
import pandas as pd

---
---

# **Pandas Series**
- Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.)


- Constructor--->pandas.Series( data, index, dtype, copy)

### Creating a series using numpy array

In [2]:
data = np.array(['a','p','a','r'])
ser = pd.Series(data)
print(ser)

0    a
1    p
2    a
3    r
dtype: object

In [3]:
series=pd.Series(np.random.randint(20,1000,10))
print(series)

0    296
1    223
2     42
3    449
4     75
5    987
6    706
7    228
8     91
9    462
dtype: int32

### Creating a series using Lists and Tuples

In [4]:
l = ['a','p','a','r']
  
# create series from a list
ser = pd.Series(l)
print(ser)

0    a
1    p
2    a
3    r
dtype: object

In [5]:
series2=pd.Series(tuple(range(10)),index=list(range(30,40)))
print(series2)

30    0
31    1
32    2
33    3
34    4
35    5
36    6
37    7
38    8
39    9
dtype: int64

In [6]:
series3=pd.Series(tuple(range(10)),index=list('ABCDEFGHIJ'))
print(series3)

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

### Accessing elements of Series

In [7]:
#retrieve the first five elements
print(series3[:5])

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [8]:
# accessing element using index element
print(series3[5])

5

In [9]:
#access the element of series using .loc[] function.
ser.loc[2:3] #.loc[start row no.,end row no.]

2    a
3    r
dtype: object

In [10]:
#access the element of Series using .iloc[] function.
#This function allows us to retrieve data by position.
#The df.iloc indexer is very similar to df.loc but only uses integer locations to make its selections.
ser.iloc[2:3] #iloc[row,col]

2    a
dtype: object

---
---

# Pandas DataFrame

- A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

- A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

- Constructor--->pandas.DataFrame( data, index, columns, dtype, copy)

### Creating a DataFrame using Lists

In [11]:
df=pd.DataFrame(list(range(5)),index=['a','b','c','d','e'],columns=tuple('A'))
print(df)

   A
a  0
b  1
c  2
d  3
e  4

### Creating a DataFrame using Dictionary

In [12]:
dict={'one':list(range(1,6)),'two':list(range(7,12)),'three':list(range(13,18))}
print(dict)

{'one': [1, 2, 3, 4, 5], 'two': [7, 8, 9, 10, 11], 'three': [13, 14, 15, 16, 17]}

In [13]:
df2=pd.DataFrame(dict)
print(df2)

   one  two  three
0    1    7     13
1    2    8     14
2    3    9     15
3    4   10     16
4    5   11     17

In [14]:
df2=pd.DataFrame(dict,index=list('abcde'))
print(df2)

   one  two  three
a    1    7     13
b    2    8     14
c    3    9     15
d    4   10     16
e    5   11     17

In [15]:
#changing the column names,changes the values to NaN
df2=pd.DataFrame(dict,columns=['one','abx','zsd'])
print(df2)

   one  abx  zsd
0    1  NaN  NaN
1    2  NaN  NaN
2    3  NaN  NaN
3    4  NaN  NaN
4    5  NaN  NaN

### Creating a DataFrame using numpy array

In [16]:
df3=pd.DataFrame(np.random.randint(2,1000,15).reshape(5,3),columns=['col1','col2','col3'])
print(df3)

   col1  col2  col3
0   190   263    57
1   706   810    95
2    32   264    71
3   708    97   807
4   860   543   371

### Creating a Pandas dataframe using list of tuples

In [17]:
data = [('Peter', 18, 7), ('Riff', 15, 6), ('John', 17, 8), ('Michel', 18, 7), ('Sheli', 17, 5) ]    
df = pd.DataFrame(data, columns =['Name', 'Age', 'Score'])  
print(df)

     Name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

### Accessing elements of DataFrame

In [18]:
#print all values in a column
print(df3['col1'])
#OR
print(df3.col1)

0    190
1    706
2     32
3    708
4    860
Name: col1, dtype: int32
0    190
1    706
2     32
3    708
4    860
Name: col1, dtype: int32

In [19]:
#print all values in a row
print(df3.loc[1])

col1    706
col2    810
col3     95
Name: 1, dtype: int32

In [20]:
#print the value in a particular row and column
print(df3.loc[3,['col2']])

col2    97
Name: 3, dtype: int32

In [21]:
#print all values which are greater than 300
print(df3[df3>300])

    col1   col2   col3
0    NaN    NaN    NaN
1  706.0  810.0    NaN
2    NaN    NaN    NaN
3  708.0    NaN  807.0
4  860.0  543.0  371.0

In [22]:
#print all rows which do not have any value less than 300(no NaN values)
print(df3[df3>300].dropna())

    col1   col2   col3
4  860.0  543.0  371.0

In [23]:
#print all rows of column 2 which do not have any value less than 300(no NaN values)
print(df3[df3>300].col2.dropna())

1    810.0
4    543.0
Name: col2, dtype: float64